<html>
    <div class="topnav">
<a routerLink="/employeedata" routerLinkActive="">Employee Details  </a>
    <a routerLink="/register" routerLinkActive="">Signup  </a>
  
    <a routerLink="/login" routerLinkActive="">Login </a>
    <a routerLink="/home" routerLinkActive="">Home </a>
</div>
<div class="full">
<pre><i>
             If you can’t fly,then run; <br>
            If you can’t run, then walk;<br>
           If you can’t walk, then crawl; <br>
             but whatever you do, <br>
         YOU HAVE TO KEEP MOVING FORWARD...</i>
</pre>
       <br><br><br><br><br><br><br><br><br><br>
    
        
      
	

 